body{
    text-align: center;
    align-items: center;
    align-content: center;
    display:block;
    background-color: rgb(51, 48, 75);
}

img{
    border-radius: 10px;
}

h1{
    color: white;
    border: solid;
    font-family: cursive;
}

p{
    color: rgb(168, 243, 218);
    border: solid 1px;
    border-radius: 10px;
    background-color: rgb(45, 88, 74);
}

#id_p2{
    color: coral;
    border: solid 1px;
    background-color: rgb(139, 67, 41);
    border-radius: 0%;    

}